* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #000000;
}

.header-svg {
    position: absolute;
    right: 60%;
}

.header-svg-2 {
    position: absolute;
    left: 290px;
    bottom: 68px;
}

.header-svg-3 {
    position: absolute;
    left: 270px;
}

.header-svg-4 {
    position: absolute;
    left: 500px;
    top: 45px;
}

.header-container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.header-logo-img {
    width: 100px;
    height: 80px;
    background-color: transparent;
}

.header-list {
    display: flex;
    gap: 60px;
    list-style: none;
}

.header-item-link {
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150.018%;
    text-decoration: none;
    text-transform: capitalize;
}

:hover.header-item-link {
    color: red;
    transition: all .3s;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-responsive-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    padding: 16px 20px 48px;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    transition: all .3s;
    z-index: 1;
}

.header-responsive-menu.show {
    transform: translateY(0);
}

.header-responsive-menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-responsive-menu-top-logo {
    display: flex;
}

.header-responsive-menu-top-close {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-responsive-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.header-responsive-menu-item {
    width: 100%;
    text-align: center;
}

.header-responsive-menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    border-top: 1px solid rgb(255, 255, 255, .15);
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150.018%;
    text-decoration: none;
    text-transform: capitalize;
}

:hover.header-responsive-menu-link {
    color: red;
    transition: all .3s;
}

.header-responsive-menu-item:last-child .header-responsive-menu-link {
    border-bottom: 1px solid rgb(255, 255, 255, .15);
}

.header-responsive-menu-social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: auto;
    gap: 40px;
}

.header-responsive-menu-social-link {
    display: flex;
}

.section {
    width: 100%;
    height: 620px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

.section-container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    gap: 300px;
}

.mirzo {
    width: 340px;
    position: relative;
    z-index: 1;
    display: flex;
}

.rounded-back {
    border: 1px solid red;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 0, 0, 0.856);
    border-radius: 50%;
    position: absolute;
    left: 700px;
}

.section-container-title {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 70px;
    margin-bottom: 30px;
}

.section-container-text {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 20px;
    max-width: 500px;
}

.section-2 {
    background-color: #FFFFFF;
    border-top: solid 1px white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.section-2-container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

.main-container-111 {
    background-color: #00000046;
    max-width: 100%;
    padding-top: 145px;
    padding-bottom: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.main-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-of-containers {
    width: 500px;
    padding: 25px 10px;
    height: 150px;
    background-color: #FFFFFF;
    border: double 5px white;
    background: transparent;
    border-radius: 20px;
}

.oddiylik {
    color: #FFFFFF;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.oddiylik-text {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.bizning-mashgulot {
    max-width: 900px;
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #FFFFFF;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.tizimimiz {
    color: red;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 50px;
}

.container-textsss {
    max-width: 100%;
}

@media(max-width: 768px) {
    .header-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .header-svg {
        display: none;
    }

    .header-svg-2 {
        display: none;
    }

    .header-svg-3 {
        display: none;
    }

    .header-svg-4 {
        display: none;
    }

    .section-container-title {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-container {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
    }

    .section-container-text {
        max-width: 5000px;
        margin-right: auto;
        margin-left: auto;
        background: red;
    }

    .mirzo {
        display: none;
    }

    .rounded-back {
        display: none;
    }
}